@font-face {
  font-family: "PurpleHaze";
  src: url("./PurpleHaze-Trial.woff2") format("woff2-variations"),
       url("./PurpleHaze-Trial.woff") format("woff-variations");
}

.word {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.letter {
  color: blue;
  font-family: PurpleHaze;
  text-align: center;
  font-size: 10rem;
  font-weight: 500;
	font-variation-settings: 'wtun' 100;

}

/* .letter:hover {
  color: red;
  animation: hazeIn 3s;
	font-variation-settings: 'wtun' 800;
  transition: all 2.5s ease-out;
} */




@keyframes hazeIn {
  from { font-variation-settings: 'wtun' 100;}
  to { font-variation-settings: 'wtun' 800;}
}

@keyframes hazeOut {
  from { font-variation-settings: 'wtun' 800;}
  to { font-variation-settings: 'wtun' 100;}
}


@keyframes hazeInOut{
  0%  { font-variation-settings: 'wtun' 100; color: #black;}
  35% { font-variation-settings: 'wtun' 900; color: #FF4808;}
  100%{ font-variation-settings: 'wtun' 100; color: #3FA535;}
}
